/*Estilos registro de uri*/


form {
    margin: 15px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .login{
    margin: 100px auto;
    border: solid 2px #EAC926;
    
    padding-bottom: 15px;
}
input{
    border: solid 1px black;
}
input:focus{
    border: solid 4px #EAC926;
}
input:hover{
    border: solid 4px #EAC926;
}
.form-control {
    width: 100%;
    flex-direction: column;
    margin-bottom: 3px;
    padding: 10px;
}

.form-control label {
    width: 100%;
}
.form-control input {
    width: 100%;
}

.enviar {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
.enviar:hover {
    background-color: rgb(0, 204, 0);
    color: rgb(255, 253, 221);
}

.borrar {
    background-color: whitesmoke;
}
.borrar:hover{
    background-color: rgb(252, 62, 15);
    color: white;
}
.button{
    display: flex;
    justify-content: space-evenly;
}
body{
    background-color: lightyellow;
}
.enviar-login {
    background-color: rgb(243, 229, 229);
    border-radius: 5px;
    padding: 5px;
    transition: background-color, color 450ms;
}
.enviar-login:hover {
    background-color: #0022AA;
    color: rgb(243, 229, 229);
    
}
.form-control-login {
    width: 100%;
    flex-direction: column;
    margin-bottom: 3px;
    padding: 10px;
}

.form-control-login label {
    width: 80%;
}
.form-control-login input {
    width: 80%;
}
.login button{
    margin-left: 10px;
}
