
/*Estilos header*/
.header{
    background-color: #EAC926;
    width: auto;
}
.search-bar{
    height: 15px;
    background-color: white;
    border:  solid 0.5px black;
}
.compra{
    text-align: center;
}
.header nav ul{
    list-style-type: none;
}
nav{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
.burger-menu{
    margin-left: 50%;
    padding: 10px;
    border: solid blue;
    margin-right: 45%;
    background-color: blue;
    color: white;
    text-align: center;
}

img .logo{
    width: 70%;
}
.padre .logo{
    width: 70%;
    padding: 5px;
    margin: 10px;
    display: flex;
}
.padre .search-bar {
    width: 50%;
    padding: 5px;
    margin: 10px
}
.padre .compra{
    width: 50%;
    padding: 5px;
    margin: 10px
}
.logo-search{
    display: flex;
}
.form-search{
    width: 70%;
}
.form-search input{
    width: auto;
}

