/* Estilos al main*/
.h3-tamaño{
    font-size: 24px;

}
body{
    width: auto;
}
.precio{
    font-size: 18px;
    
}
.descuento{
    font-size: 16px;
    text-align: right;
}
.descripcion{
    font-size: 16px;
}
main{
    text-align: center;
    width: auto;
    background-color: #F4F2F2;
}
.fa-truck{
    color: green;
}

.caja{
    padding: 5px;
    border: solid 2px #ebebeb;
    background-color: white;
    
}
.caja-hija{
    border: 15px;
}
.truck{
    border-top: 1px solid #ebebeb;
}
.descripcion{
    display: none;
}
.site{
    display: none;
}
.login{
   display: none;
}
.precio-descuento{
    display: flex;
    text-align: left;
}
.precio-descuento .precio{
    width: 30%;
}
.precio-descuento .descuento{
    width: 70%;
}


